<!DOCTYPE html>
<html>
  <head>
    <title>Chapters</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Tailwind CDN (optional if not using npm build) -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Flowbite CSS (optional for default styles) -->
    <link href="https://unpkg.com/flowbite@1.7.0/dist/flowbite.min.css" rel="stylesheet">
  </head>

  <body class="bg-gray-100 text-gray-900">
    <%= yield %>

    <!-- Flowbite JS -->
    <script src="https://unpkg.com/flowbite@1.7.0/dist/flowbite.js"></script>
  </body>
</html>
